{erl_opts, [debug_info]}.

{deps, [
    {exometer_core, {
        git,
        "https://github.com/Feuerlabs/exometer_core.git",
        {ref, "9206b28"}
    }},
    {jiffy, {
        git,
        "https://github.com/davisp/jiffy.git",
        {tag, "0.14.5"}
    }}
]}.

{overrides,
    [{override, jiffy, [
        {plugins, [
            {pc, {git, "https://github.com/blt/port_compiler.git", {branch, "master"}}}
        ]},

        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.
